/* CLASES REUTILIZABLES */
* {
    box-sizing: border-box; /*respetamos altos y anchos*/
    margin:0;
    padding: 0; /*ocupa toda la pantalla*/
}
body {
    background-color: #e6ecf0;
    font-family: arial;
}
/*--STYLE FOR THE HEADER--*/
header {
    background-color: white; 
    top: 0; /*Se pegue la parte duperior del navegador*/
    width: 100%; /*Tomara todo el navegador*/
    height: 50px; /*Alto de header*/
    position: fixed;
}

ul {
    margin-left: 185px;
}

li {
    display: inline-block;
    margin: 10px;
}

a {
    text-decoration: none;
    color:#212F3C;    
    font-family: arial;
    font-weight: bold;
    padding: 3px;
}

.tweeter {
    margin: 0 200px 0 200px; 
    color:#5DADE2;
}

li {
    color: gray;
}

input {
    background-color: transparent;
    border: none;
    font-size: 0.8rem;
    color: gray;
}

.search {
    /*outline: 1px solid red;*/
    border-radius: 20px;
    padding: 9px;
    background-color: #EBF5FB;
    margin-bottom: 3px;
    border: 1px solid rgb(193, 222, 243);
}

/*STYLE FOR THE FIRST SECION*/
#first-section {
    /*outline: 1px solid red;*/
    margin: 60px 20px 20px 200px;
    float: left;
}

.biography {
    margin-bottom: 8px;
}

/*STYLE FOR THE SECOND SECTION*/
#second-section {
    /*outline: 1px solid green;*/
    display: inline-block;
    margin-top: 63px;
}

.container-form {
    background-color: #E0F7FA;
    padding: 10px;
}

/*formulario*/
.container-message {
    background-color: white;
    border-radius: 20px;
    border: 1px solid rgb(39, 149, 161);
    margin: 10px;
    padding-right: 7px;
}

/*entrada del texto*/
#insertText {
    resize: none;
    border: none;
    font-size: 1.2rem;
    width: 500px;
    height:60px;
    margin: 0px 0px;
    line-height: 19px;
    overflow: hidden;
    margin:0px auto;
}
#insertText:focus {
    outline:0px;
}

#message-tweet {
    display: inline-block;
    margin: 10px;
}

#account {
    display: inline-block;    
    color: grey;
    font-size: 15px;
    font-weight: bold;
    margin-left: auto;
}

.settings{
    margin: 0 230px 0 18px;
}

/*STYLE FOR THE BOTTON TWEET*/
button {
    background:#1da1f2;
    color:#fff;
    border: none;
    padding: 5px 10px;
    font-weight:700;
    font-size: 1.3rem;
    border-radius: 20px;
    text-align: center;
}

button:hover {
    background-color:#006dbf;
    color: #ffffff;
    border-radius: 20px;
    cursor: pointer;
}

button:active{
    border-radius: 5px;
    background-color:#006dbf;
}

button:disabled,button[disabled]{
    background-color: #a4caec;
    color: #fff;
}

/*STYLE FOR THE NEW BOX TWEET*/
#newbox {
    /*outline: 1px solid gold;*/
    width: 600px;
    margin-top: 20px;
}

#newbox div {
    background-color: white;
    padding: 7px;
    margin-top: 2px;
    border: 1px solid #E0F7FA;
    word-break: break-all
}

#newbox p {
    color: rgb(99, 95, 95);
    font-weight: bold;
    padding-top: 6px;
    margin-left: 500px;
}





















